@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1500px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  display: none;
}

.centralizar {
  display: flex;
  align-items: center;
}

.coluna {
  flex-direction: column;
  justify-content: space-evenly;
}

.cabecalho {
  width: 100%;
  height: 70px;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linksMenu {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
}

/* TELA HOME */
.home {
  /* background-image: linear-gradient(-195deg, #242424, #BF9004, #F2D335); */
  background-image: url('../../public/background.jpg');
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 990;
}

.parallax {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  background-image: url('../../public/parallax2.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

.sobre {
  background-image: url('../../public/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.8;
}